{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    
    <div class="row">
        <h1 class="text-center mb-4">Invoice component</h1>
        <div class="col-12 shadow-blur shadow-blur--rainbow mb-5">
            {{ component('Invoice:InvoiceForm', {
                initialInvoice: invoice,
            }) }}
        </div>
        <div>
            <h2>How it works?</h2>
            <ul class="ms-5">
                <li>Create normal <code>Invoice</code> and <code>InvoiceLine</code> entities</li>
                <li>Create Symfony Form but use <code>LiveCollectionType</code> instead of <code>CollectionType</code>
                    to manage invoice lines
                </li>
                <li>Create Live component to manage form (<code>/src/Twig/Components/Invoice/InvoiceForm</code>)</li>
                <li>Create template (<code>/templates/components/invoice/InvoiceForm.html.twig</code>)</li>
            </ul>
        </div>
        <div>
            <h2>Why using Live component ?</h2>
            <p>
                Because there is no need to write any line of javascript ! <br>
                Symfony UX manage dynamic actions like add or remove item in collection.
            </p>
        
        </div>
    
    </div>

{% endblock %}
